<h1>
    <% if current_user %>
     Hi, <%= current_user.name %>! Here's your available products
    <% else %>
      Available Products
    <% end %>
</h1>
<div class="row">
  <% @products.each do |product| %>
    <div class="product-grid-item col-md-3 well">
      <a href="/products/<%= product.id %>">
        <div class="img-wrapper">
          <img class="img-responsive" src="<%= product.image %>">
        </div>
			  <h4><%= product.title %></h4>
      </a> 
      <p><%= number_to_currency(product.price) %></p>
      </a>
    </div>
  <% end %>
</div>
