<div class="row">
  <div class="col-lg-6">
    <ul class="info-background">
      <li>Name: <%= @product.title %></li>
      <li class="price">Price: <%= number_to_currency(@product.price) %></li>
      <li>Tax: <%= number_to_currency(@product.tax) %></li>
      <li>Total: <%= number_to_currency(@product.total) %></li>
    </ul>
  </div>
  <div class="col-lg-6">
    <img class="image-show img-responsive" src="<%= @product.image %>">
  </div>
</div>


